$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

html{
    height: 100%;
    margin: 0 auto;
}

body{
    display: table;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: "#f5f5f5";
}

a {
    text-decoration:none
    }

header{
    position: fixed;
    height: 75px;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
}

#message_wraper{
    margin: 20px 0px 20px 0px;
    position: fixed;
    top: 10px;
    left: 12%;
}

#title_wraper{
    margin: 20px 0px 20px 0px;
    font-family: 'Noto Sans KR', sans-serif;
    position: fixed;
    top: 3px;
    left: 0;
    right: 0;
}

#info_wraper{
    margin: 20px 0px 20px 0px;
    position: fixed;
    top: 10px;
    right: 12%;
}




#day{
    font-weight:700;
    color: #2E2E2E;
    font-size: 20px;
}
#chulbong{
    font-weight:700;
    color: #045FB4;
    font-size: 20px;
}

#info_p{
    text-align :left;
    font-size: 14px;
    color: gray;
}

#detail_p{
    text-align :left;
    font-size: 14px;
    color: gray;
}

#main{
    position: absolute; left: 50%; top: 30%;
    transform: translate(-50%, -50%); text-align: center;
}

m__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {

  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 2.2rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  font-weight:700;
  text-align: center;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    text-align: center;

  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}


#message_modal{
                display: none;
                width: 300px;
                padding: 20px;
                background-color: #fefefe;
                border: 1px solid #888;
                border-radius: 15px;
            }

#info_modal{
                display: none;
                width: 300px;
                padding: 20px;
                background-color: #fefefe;
                border: 1px solid #888;
                border-radius: 15px;
}

#detail_modal{
                display: none;
                width: 300px;
                padding: 20px;
                background-color: #fefefe;
                border: 1px solid #888;
                border-radius: 15px;
                z-index: 99999;
}

h2{
    width:180px;
    color:#78788c;
}

input, textarea {

  font-size: 14px;
  width:250px;
  padding:20px;
  box-sizing:borderbox;
  background:none;
  outline:none;
  resize:none;
  border:0;font-family:'Montserrat',sans-serif;
  transition:all .3s;
  border-bottom:1px solid #bebed2;
  -webkit-border-radius: 0;
}

input, textarea:focus{
  border-bottom:1px solid #78788c;
}





