{% extends 'base.html' %}
{% load static %}
{% block body %}
{% include 'header.html' %}

<body style="background-color: #f5f5f5;">


<div id="main">
    <form id = "search" action="{% url 'map:map' %}" method="post">
        {% csrf_token %}
        <p class="form__group field">
            <input type="text" class="form__field" placeholder="어디있어요" name="where" required />
            <div class='container' onclick="javascript:document.getElementById('search').submit();" >
                <div class="button-container">
                <div class='button -regular'>GO</div>
                </div>
            </div>
        </p>
    </form>
    <div class='container'>
    <div class="button-container">
        <div class='button -blue center' id="getGps" onclick="window.location.href ='./map'">위치정보 가져오기</div>
    </div>
</div>
</div>

<!--<script>
     $('#getGps').click(function(){
            $.ajax({
                url: 'map',
                data: {
                    'lat': lat,
                    'lng': lng
                },
            dataType: 'json',
            type:'GET',
            success: function(context){
                //window.location.href ='./map?'+'lat='+context.lat+'&lng='+context.lng;
                //window.location.href ='./map;
            }
        })
    })
</script>-->




{% endblock %}
</body>
</html>

